{% extends "base.html" %}
{% load static i18n %}

{% block title %}
{% if object.artist_name %}
{{ object.artist_name }}
{% else %}
{{ object.user.username }}
{% endif %}
{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h1>{% blocktranslate with name=object.artist_name %}{{ name }}'s profile{% endblocktranslate %}</h1>

      {% if object.user == request.user %}

      {% if object.artist_name %}
      <p>{% blocktranslate with username=object.user.username %}
        Share your username '{{ username }}' to be added in a friend's list.
        {% endblocktranslate %}</p>
      {% else %}
      <p>{% translate "You have not set any artist name, so your username is used instead" %}</p>
      {% endif %}

      {% endif %}

      {% if object.location %}<p>{% translate "From" %} : <em>{{ object.location }}</em> </p>{% endif %}
      <h2>{% translate "Bio" %}</h2>
      <p>{{ object.bio }}</p>

      {% if object.user == request.user and object.follow_requests_received.any %}
      <h2>{% translate "My friendships" %}</h2>
      {% for friendship_request in object.follow_requests_received.all %}
      friendship_request
      {% endfor %}
      {% endif %}
    </div>
  </div>


  <!-- Action buttons -->
  <div class="row">

    <div class="col-sm-12">
      {% if object.user == request.user %}
      <a class="btn btn-primary" href="{% url 'artists:update' %}" role="button">{% translate "Edit profile" %}</a>
      <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">{% translate "Configure my email" %}</a>
      {% else %}
      {% if request.user.is_authenticated %}
      {% csrf_token %}
      <button class="btn btn-primary" href="#" role="button" name="follow" onclick="follow()">{% translate "Follow" %}</button>
      <button class="btn btn-danger" href="#" role="button" name="unfollow" onclick="unfollow()" hidden>{% translate "Unfollow" %}</button>
      {% endif %}
      {% endif %}
    </div>

  </div>
  <!-- End Action buttons -->

</div>
{% endblock content %}

{% block inline_javascript %}
<script>
  let followBtn = document.getElementsByName("follow")[0];
  let unfollowBtn = document.getElementsByName("unfollow")[0]

  async function follow() {
    followBtn.disabled = true;
    let response = await post('/artists/mysentfollowrequest/', { "to_profile": "{{ object.pk }}" });
    if (response.ok) {
      unfollowBtn.disabled = false;
      followBtn.hidden = true;
      unfollowBtn.hidden = false;
      return 0;
    }
  }

  async function unfollow() {
    unfollowBtn.disabled = true;
    let response = await delete_request('/artists/mysentfollowrequest/', { "to_profile": "{{ object.pk }}" });
    if (response.ok) {
      followBtn.disabled = false;
      unfollowBtn.hidden = true;
      followBtn.hidden = false;
      return 0;
    }
  }

  async function post(url, data) {
    csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value
    let response = await fetch(url, {
      method: "POST",
      credentials: 'include',
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrf_token
      },
      body: JSON.stringify(data),
    });
    return response; // parses JSON response into native JavaScript objects
  }

  async function delete_request(url, data) {
    csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value
    let response = await fetch(url, {
      method: "DELETE",
      credentials: 'include',
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrf_token
      },
      body: JSON.stringify(data),
    });
    return response; // parses JSON response into native JavaScript objects
  }

  async function get(url) {
    csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value
    let response = await fetch(url, {
      method: "GET",
      credentials: 'include',
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrf_token
      },
    });
    return response; // parses JSON response into native JavaScript objects
  }

</script>
{% endblock inline_javascript %}
